.navbarLogoBar {
  background-color: #0052CC;
  height: 85px;
  width: 30%;
  min-width: 59.5%;
  max-width: 100%;
}

.navbarButton {
  background-color: #0052CC;
  height: 85px;
  width: 30.5%;
  position: relative;
  margin-left: auto; /* Aligns to the right */
  min-width: 40%;
  max-width: 100%;
}

.navbarContainer {
  margin: 20px; /* Consistent margin on all sides */
  display: flex;
  flex-direction: row;
  gap: 12px; /* Gap between navbar items */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Vertically center the items */
}