.navbarLogoBar {
  background-color: #0052CC;
  height: 85px;
  flex: 1;
  max-width: 100%; /* Adjust the max-width to ensure proper alignment */
  display: flex;
  padding-left: 20px; /* Add some padding to the left for better spacing */
  box-sizing: border-box;
  min-width: 500px;
}

.navbarButtonContainer {
  height: 85px;
  display: flex;
  width: 800px;
  position: relative;
  box-sizing: border-box;
  transition: width 0.3s; /* Add transition for smooth scaling */
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 12px;
  padding: 20px;
}

.navButton {
  border: 1px solid #0052cc;
  background-color: transparent;
  color: white; /* White text color */
  font-size: 20px; /* Font size */
  height: 100%; /* Button height */
  width: 100%; /* Button width */
  font-family: "GogaSemibold", sans-serif; /* Custom font family */
  border-radius: 0px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-flex; /* Flexbox for alignment */
  text-align: center; /* Center text horizontally */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
}

button.navButton:hover {
  background-color: #0052cc; /* Darker blue on hover */
  box-shadow: 0 0 10px #0052cc;
}

button.navButton:active {
  background-color: #0052cc; /* Darker blue on hover */
  box-shadow: 0 0 10px #0052cc;
}

.navbarLogo {
  position: absolute;
  top: 10px;
  scale: 1.1;
  left: 50px;
}