@import 'fonts.css';
@import './components/navbar.css';

html, body {
  height: 100%; /* Ensure the full height is available for child elements */
  margin: 0; /* Remove default margin */
}

body {
  margin: 0;
  font-family: 'GogaRegular', sans-serif;
  background-color: #0C0F19;
  color: #0c0f19;
  display: flex;
  flex-direction: column; /* This ensures that the .container can expand vertically */
}

h1 {
  font-family: 'GogaSemibold', sans-serif;
  line-height: 0.85;
  color: white;
}

h2 {
  font-family: 'GogaMedium', sans-serif;
}

p {
  font-family: 'SatoshiRegular', sans-serif;
  color: #808080;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 12px;
  padding: 20px;
  height: 100%; /* Ensure the container can expand to the full height of its parent */
}

.testcontainer {
  background-color: aqua;
  min-height: 500px;
}

.content {
  flex-direction: column;
  justify-content: space-between;
  min-width: 800px; /* Adjust this value to your desired minimum width */
  gap: 20px;
  column-gap: 20px; /* Vendor prefix for row-gap property */
}

.titlecard {
  text-align: left;
  border: 1px solid #0052cc;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  margin: 20px 0;
  padding: 0 0 60px 0;
}

.cta-button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.feature-item {
  border: 1px solid #0052cc;
  padding: 20px;
  text-align: center;
  flex: 1 1 calc(50% - 40px);
  box-sizing: border-box;
  margin: 20px 0 0 0; /* Temp fix because gap is not working for some reason */
}

.feature-icon {
  max-width: 100%;
  height: auto;
}

.feature-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.text-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  margin: 0 auto;
  left: 0%;
  padding: 20px;
  box-sizing: border-box;
}

.feature-description {
  font-size: 1rem;
}

.empty-item {
  border: 1px solid #0052cc;
  padding: 20px;
  text-align: center;
  /* Remove fixed width settings to allow for responsiveness */
  width: 100%; /* Allow the item to fill its container */
  max-width: 800px; /* Maximum width */
  height: 100%;
  box-sizing: border-box;
}

.empty-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* This will allow .empty-item to fill the available space */
}

@media (max-width: 800px) {
  .empty-item {
    /* Adjustments for smaller screens */
    min-width: 0; /* Allow the item to scale down */
    width: 100%; /* Full width on smaller screens */
    flex: 1; /* Allow flexibility in flex containers */
  }
}

.header,
.features {
  flex: 1;
}

.feature-item.fast-feature,
.feature-item.secure-feature {
  background-image: url("/images/Fast-Feature_Background.png");
  background-size: cover;
  background-position: center;
  color: white;
  height: 612px;
  position: relative;
  text-align: left;
}

@media (max-width: 1720px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    order: 1;
  }

  .empty-item {
    order: 2;
    min-width: 100%;
  }
}